//fonts
$main-font: 'roboto-regular';
$title-font: 'roboto-bold';

//sizes
$container-width: 136.6rem;

//colors
$white-2: #fafafa; 
$lime: #7a9e0e;
$gray-1: #f0f0f0;
$gray-2: #f5f5f5;
$gray-3: #5a5a5a;

$blue-1: #0085be;
$blue-2: #002abe;
$blue-3: #02597e;
$red: #ff0000;
$orange: #eb7e07;

$primary-color: $blue-1;
$danger-color: $red;
$warning-color: $orange;