@import './../../common-styles/vars.scss';

.user-item {
    position: relative;
    display: flex;
    border-bottom: 1px dotted #000;
    padding: 0.8rem 0;

    &__col {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 0.5rem;

        &--id {
            width: 5rem;
        }
    
        &--name {
            width: 20rem;
        }
    
        &--birth {
            width: 15rem;
        }

        &--comment {
            width: 64rem;
        }
    }

    &.active {
        background-color: rgba($warning-color, 0.15);
    }
}