@import './../../common-styles/vars.scss';

.user-comment {
    display: flex;
    align-items: center;
    width: 100%;

    &__text {
        display: block;
        box-sizing: border-box;
        width: 35rem;
        padding: 1rem;
        word-wrap: break-word;

        i {
            color: $orange;
        }
    }
}