@import './../../common-styles/vars.scss';

.user-form-wrap {
    display: flex;
    margin-left: 1rem;
    align-items: center;

    &__btn {
        display: flex;
        margin-left: 0.4rem;
    }
}

.user-form {
    display: block;
    min-width: 40rem;
}

.user-input {
    display: block;
    border-color: $gray-3;
    border-radius: 0.6rem;
    width: 100%;
    min-height: 6rem;
    resize: vertical;
    padding: 1rem;
    box-sizing: border-box;

    &:focus {
        border-color: $blue-1;
        outline: $blue-1;
    }
}