@import './../../common-styles/vars.scss';

.users-list {
    width: 120rem;
    margin: 0 auto;
    padding: 1.5rem;
    text-align: left;
    font-size: 1.6rem;
    color: $gray-3;
    line-height: 1.1;
    border-radius: 0.6rem;
    box-shadow: 0 0.6rem 1rem 0 rgba(0, 0, 0, 0.1);
    border: solid 1px $gray-2;
    background-color: #fff;
    list-style: none;
}