@import './../../common-styles/vars.scss';

.btn {
    display: block;
    padding: 1rem 2rem;
    border-radius: 0.6rem;
    background-color: $blue-1;
    border: none;
    font-size: 1.4rem;
    line-height: 1.05;
    font-family: $title-font;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: all 0.4s;

    &:hover, &:active {
        background-color: rgba($blue-1, 0.75);
    }

    &:disabled {
        opacity: 0.4;
        background-color: transparent;
        border: solid 2px $gray-3;
        color: $gray-3;
        pointer-events: none;
    }

    &--warning {
        background-color: $warning-color;

        &:hover, &:active {
            background-color: rgba($warning-color, 0.75);
        }
    }

    &--danger {
        background-color: $danger-color;

        &:hover, &:active {
            background-color: rgba($danger-color, 0.75);
        }
    }
}